<div id="<%= dom_id sentence_transformation %>">
  <p>
    <strong>Original:</strong>
    <%= sentence_transformation.original %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= sentence_transformation.keyword %>
  </p>

  <p>
    <strong>Partial:</strong>
    <%= sentence_transformation.partial %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= sentence_transformation.answer %>
  </p>

</div>
